<div class="jumbotron">
    <h2>Producer</h2>
    <h4>Eugenia G. Zambrano  +1.813.928.5917</h4>
    <h2>Email Us</h2>
    <h4>Angel Varty <a href="mailto:admin@westchasetheatre.com">admin@westchasetheatre.com</a></h4>
    <h2>Communication</h2>
    <h4>We are using the Remind App for notifications</h4>
    To begin receiving messages send text to: 81010<br />
    Message: @wctlion<br />
    </p>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5686239-7', 'auto');
  ga('send', 'pageview');

</script>