<!--<div class="page-header">
 <img src="/images/baby_simba__rebirth_by_cherrichelxd16-d60e661.jpg" alt="picture of baby simba" width="200" align="left"/>
<h1>
    <br />
    Lion King Schedule 2015-16<br />
    <br /><br />
</h1>
</div>-->
<div class="jumbotron">
<h1>Lion King Schedule 2015-16</h1><br />
  
<div class="row">
<div class="col-xs-6 col-md-4">Sept 30</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Oct 7</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Oct 14</div>
<div class="col-xs-6 col-md-4">5:30-7:00 <i>Tuition Due</i></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Oct 21</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Oct 28</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Nov 4</div>
<div class="col-xs-6 col-md-4">5:30-7:00 <i>Tuition Due</i></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Nov 11</div>
<div class="col-xs-6 col-md-4"><b>No Practice Veteran's Day</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Nov 18</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Nov 25</div>
<div class="col-xs-6 col-md-4"><b>No Practice Fall Break</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Dec 2</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Dec 9</div>
<div class="col-xs-6 col-md-4">5:30-7:00 <i>Tuition Due</i></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Dec 16</div>
<div class="col-xs-6 col-md-4">"Holiday Party" <b>5:30-7:00</b> Pizza/Snacks/ Fun & Gift Exchange</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Dec 23 / 30</div>
<div class="col-xs-6 col-md-4"><b>No Practice Holiday Break</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Jan 6</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Jan 13</div>
<div class="col-xs-6 col-md-4">5:30-7:00 <i>Tuition Due</i></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Jan 20</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Jan 27</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Feb 3</div>
<div class="col-xs-6 col-md-4">5:30-7:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Feb 10</div>
<div class="col-xs-6 col-md-4">5:30-7:30 <i>Tuition Due</i> - <b>**Now until 7:30**</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Feb 17</div>
<div class="col-xs-6 col-md-4">5:30-7:30</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Feb 24</div>
<div class="col-xs-6 col-md-4">5:30-7:30</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Mar 2</div>
<div class="col-xs-6 col-md-4">5:30-7:30</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Mar 9</div>
<div class="col-xs-6 col-md-4">5:30-8:00 <i>Tuition Due</i> - <b>**Now until 8:00**</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Mar 16</div>
<div class="col-xs-6 col-md-4"><b>*No Practice* Spring Break</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Mar 23</div>
<div class="col-xs-6 col-md-4">5:30-8:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Mar 30</div>
<div class="col-xs-6 col-md-4">5:30-8:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Apr 6</div>
<div class="col-xs-6 col-md-4">5:30-8:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Apr 13</div>
<div class="col-xs-6 col-md-4">5:30-8:00 <i>Tuition Due</i></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Apr 20</div>
<div class="col-xs-6 col-md-4">5:30-8:00</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">Apr 27</div>
<div class="col-xs-6 col-md-4">5:30-8:00 <b>**Passover April 22-30 please msg if absent**</b></div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">May 4</div>
<div class="col-xs-6 col-md-4">5:30-8:30 **Now til 8:30**</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">May 9</div>
<div class="col-xs-6 col-md-4">5:30-8:30 Monday Night</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">May 10</div>
<div class="col-xs-6 col-md-4">5:30-8:30 Tuesday Night</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">May 11</div>
<div class="col-xs-6 col-md-4">5:30-8:30 Wed Night</div>
</div>
<div class="row">
<div class="col-xs-6 col-md-4">May 12</div>
<div class="col-xs-6 col-md-4">5:30-8:00 Thursday Night</div>
</div>
<b>May 13 Show Time Friday</b><br />
(Call 5:30 pm - Curtain 7:00 pm)<br />
<b>May 14 Show Times Saturday</b><br />
(Call 12:30 pm - Curtain 2:00 pm / Call 5:30 pm Curtain 7:00 pm)<br />
<b>May 15 Show Times Saturday</b><br />
(Call 12:30 pm - Curtain 2:00 pm)<br /><br />

<i>**If we adjust the schedule you will be notified</i>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5686239-7', 'auto');
  ga('send', 'pageview');

</script>
