<hr />
<div class="row">
  <div class="col-md-4">
    <h4>Contacts</h4>
	  TEL +1.813.928.5917<br />
	  <a style="font-size: 16px;" href="mailto:admin@westchasetheatre.com">admin@westchasetheatre.com</a>
  </div>
  <div class="col-md-4">
	  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3521.3290803942864!2d-82.59470804972062!3d28.044974982568107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2ea5a44c15a75%3A0x74aa0cfda2c851fd!2s9517+W+Linebaugh+Ave%2C+Tampa%2C+FL+33626!5e0!3m2!1sen!2sus!4v1444693200169" width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
<div class="row">
	<p>&copy; Westchase Theatre 2015</p>
</div>