<script type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 1500
    })
  });
</script>


<div class="container">
        <h4>2014-2015 Alice In Wonderland&trade;</h4>
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->  
    <div class="carousel-inner">  
      <div class="item"><img src="/images/2015/2015-aiw-alice1.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-backstage-makeup.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-backstage2.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-catapillar1.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-cheshirecat1.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-madhatter_and_doormouse.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-performance1.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-performance3.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-rabbit1.jpg"></div>  
      <div class="item"><img src="/images/2015/2015-aiw-rocklobster1.jpg"></div>  
      <div class="active item"><img src="/images/2015/2015-aiw-teaparty.jpg"></div>  
    </div>  
    <!-- Carousel nav -->  
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
  </div>  
</div>

<div class="container">
  <h4>2013-2014 Peter Pan Jr&trade;</h4>
  <div id="myCarousel" class="carousel slide">  
    <!-- Carousel items -->  
    <div class="carousel-inner">
      <div class="item"><img src="/images/2014/10002920_428999903903088_2077623284_n.jpg"></div>
      <div class="item"><img src="/images/2014/10013078_437090896427322_8344665179935184824_n.jpg"></div>
      <div class="item"><img src="/images/2014/10014630_439408166195595_7752655335404642478_n.jpg"></div>
      <div class="item"><img src="/images/2014/10151857_437090596427352_8544464754409274670_n.jpg"></div>
      <div class="item"><img src="/images/2014/10154242_439410166195395_2558827689635035865_n.jpg"></div>
      <div class="item"><img src="/images/2014/10155612_439409639528781_4322554558272647475_n.jpg"></div>
      <div class="item"><img src="/images/2014/10170802_437090806427331_8762291824915216130_n.jpg"></div>
      <div class="item"><img src="/images/2014/10257854_439408912862187_3609401519086508979_n.jpg"></div>
      <div class="item"><img src="/images/2014/1504945_439409272862151_5059105351444149476_n.jpg"></div>
      <div class="item"><img src="/images/2014/1507920_437090676427344_2819015273520540488_n.jpg"></div>
      <div class="item"><img src="/images/2014/1511084_439409772862101_6135723479719885619_n.jpg"></div>
      <div class="item"><img src="/images/2014/1533787_439667732836305_5383530568080124497_n.jpg"></div>
      <div class="item"><img src="/images/2014/1601168_439409842862094_9038738169716678408_n.jpg"></div>
      <div class="item"><img src="/images/2014/1601330_437090836427328_5793954237236289398_n.jpg"></div>
      <div class="item"><img src="/images/2014/1609821_437090729760672_842603678091801982_n.jpg"></div>
      <div class="item"><img src="/images/2014/1609916_439408762862202_1242016926161960237_n.jpg"></div>
      <div class="item"><img src="/images/2014/1654085_437090853093993_6384297777616119032_n.jpg"></div>
      <div class="item"><img src="/images/2014/1926866_439409136195498_3466262671485752992_n.jpg"></div>
      <div class="item"><img src="/images/2014/734559_439409576195454_971594826242961990_n.jpg"></div>
      <div class="item"><img src="/images/2014/988862_439408259528919_692039180675254052_n.jpg"></div>
      <div class="active item"><img src="/images/2014/title-10153992_432796030190142_1763266980_n.jpg"></div>  
    </div>  
    <!-- Carousel nav -->  
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
  </div>  
</div>

<div class="container">
  <h4>2013-2014 The Little Mermaid&trade;</h4>
  <div id="myCarousel" class="carousel slide">  
    <!-- Carousel items -->  
    <div class="carousel-inner">
      <div class="item"><img src="/images/2013/1374908_373310512805361_780554965_n.png"></div>
      <div class="item"><img src="/images/2013/1425770_373310736138672_1843165381_n.jpg"></div>
      <div class="item"><img src="/images/2013/1441418_373310519472027_715187216_n.jpg"></div>
      <div class="item"><img src="/images/2013/1450183_373310622805350_553676082_n.jpg"></div>
      <div class="item"><img src="/images/2013/1450950_373310506138695_900250204_n.jpg"></div>
      <div class="item"><img src="/images/2013/1451447_373310486138697_1107966052_n.jpg"></div>
      <div class="item"><img src="/images/2013/1452100_373310482805364_676848109_n.jpg"></div>
      <div class="item"><img src="/images/2013/1466065_373310792805333_288183540_n.jpg"></div>
      <div class="item"><img src="/images/2013/1467312_373310632805349_99282248_n.jpg"></div>
      <div class="item"><img src="/images/2013/1479068_373310616138684_39345454_n.jpg"></div>
      <div class="active item"><img src="/images/2013/577509_373310606138685_416053644_n.jpg"></div>
    </div>  
    <!-- Carousel nav -->  
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
    <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
  </div>  
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5686239-7', 'auto');
  ga('send', 'pageview');

</script>